#body {
  margin: 5px 28% 20px;
}
#title1 {
  font-size: 36px;
  text-align: center;
  font-family: "Times New Roman";
  font-style: normal;
  font-size: 4vw;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  direction: ltr;
  word-spacing: 2px;
  text-shadow: 4px rgb(226, 12, 12);
  font-weight: bolder;
}
#form {
  border: 2px solid rgb(153, 151, 151);
  padding: 2px 5px;
}
#header2 {
  font-size: 3vw;
  text-align: center;
}
